   <div class="container-fluid px-1 px-md-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center px-3">
        
        <div class="card">
            <h4 class="text-center text-primary">Temperature</h4>
            <form class="example" action="" [formGroup]="wheatherForm">
                <input type="text" placeholder="location" formControlName="location">
                <button type="btn btn-danger" (click)="submit()"><i class="fa fa-search"></i></button>
            </form>
            <h2 class="ml-auto mr-4 mt-3 mb-0">{{data.name}}</h2>
            <p class="ml-auto mr-4 mb-0 med-font">{{data.main.pressure}}</p>
            <h1 class="ml-auto mr-4 large-font">{{celsius}}&#176;</h1>
            <p class="time-font mb-0 ml-4 mt-auto" style="font-size: 30px;">{{currentDate}} <span class="sm-font">AM</span></p>
            
        </div>
    </div>
</div>