<!-- <div class="app-wrap">
    <header><form action="" [formGroup]="wheatherForm">
      <input type="text" autocomplete="off" class="search-box" formControlName="location" placeholder="Search for a city or country..." />
    <button class="btn btn-success btn-block" (click)="submit()">Get data</button>
    </form>
    </header>
    <main>
      <section class="location">
        <div class="city">{{data.name}}</div>
        <div class="date">Thursday 10 January 2020</div>
      </section>
      <div class="current">
        <div class="temp">{{celsius}}<span>°c</span></div>
        <div class="weather">Sunny</div>
        <div class="hi-low">13°c / 16°c</div>
      </div>
    </main>
  </div>

   -->

   <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>

   <div class="container-fluid px-1 px-md-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center px-3">
        
        <div class="card">
            <h4 class="text-center text-primary">Temperature</h4>
            <form class="example" action="" [formGroup]="wheatherForm">
                <input type="text" placeholder="location" formControlName="location">
                <button type="btn btn-danger" (click)="submit()"><i class="fa fa-search"></i></button>
            </form>
            <h2 class="ml-auto mr-4 mt-3 mb-0">{{data.name}}</h2>
            <p class="ml-auto mr-4 mb-0 med-font">{{data.main.pressure}}</p>
            <h1 class="ml-auto mr-4 large-font">{{celsius}}&#176;</h1>
            <p class="time-font mb-0 ml-4 mt-auto" style="font-size: 30px;">{{currentDate}} <span class="sm-font">AM</span></p>
            
        </div>
    </div>
</div>